/* Fonte padrão para todos os elementos */
* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
  background: rgb(0, 2, 30);
  color: rgb(255, 255, 255);
}

.contact i {
  color: deepskyblue;
}

h1 {
  padding-top: 1%;
}

h1, h2, h3, h4, h5, h6, p, pre {
  padding-left: 1%;
}

p {
  font-size: 20px;
}

pre {
  margin-left: 5%;
  background: rgb(54, 57, 92);
  width: 40%;
}

code {
  background: rgb(54, 57, 92);
}
